.layout {
  &__background {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: var(--background-grey-primary);
    padding: var(--padding-xsm) 0;
    margin-right: 15%;
    
    &--landing {
      justify-content: center;
      padding: var(--padding-sm) var(--padding-sm);
      margin: 0;
    }
  }
}

@media screen and (max-width: 53.125em) {
  .layout {
    &__container {
      margin-right: 0;
    }
  }
}